.header-mob-menu {
  position: fixed;
  left: 0;
  top: 48px;
  transform: translateX(-100%);
  opacity: 0;
  width: 320px;
  height: calc(100% - 48px);
  transition: 300ms;

  &.open {
    opacity: 1;
    transform: translateX(0);
  }
}