.button-link {
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: 250ms;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;

    .open &, .mobile & {
      display: none;
    }

    @media (max-width: 1151px) {
      display: none;
    }
  }

  &:hover:after {
    left: 0;
    width: 100%;
  }

  .menu-list &:after {
    background: $c-text-main;
  }

  .footer-hold &:after {
    background: #b2b2b2;
  }

  .menu-list &.active:after {
    background: $c-main;
  }
}