.feedback {
  background: linear-gradient(89.18deg, #FADF82 -0.26%, #996BF3 100.29%), #C4C4C4;
  padding: 61px 0 55px;

  @media (max-width: 767px) {
    background: linear-gradient(167.73deg, #FADF82 1.97%, #996BF3 148.52%), #FFFFFF;
    padding: 55px 0;
  }
}