.curators-list {
  display: flex;
  flex-wrap: wrap;

  &_four {
    @media (max-width: 1151px) {
      max-width: 640px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__item {
    @include grid(4, 30px, 30px);

    @media (max-width: 1151px) {
      @include grid(3, 30px, 30px);

      .curators-list_four & {
        @include grid(2, 30px, 30px);
      }
    }

    @media (max-width: 670px) {
      @include grid(2, 15px, 15px);

      .curators-list_four & {
        @include grid(2, 15px, 15px);
      }
    }

    @media (max-width: 470px) {
      @include grid(1, 15px, 15px);

      .curators-list_four & {
        @include grid(1, 15px, 15px);
      }
    }
  }
}