@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Medium.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Heavy.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-RegularItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Thin.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Light.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-BlackItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Bold.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Black.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Ultralight.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-LightItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-ThinItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-MediumItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Semibold.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-HeavyItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-Regular.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF_Pro';
  src: url('/assets/fonts/SF_Pro/SFProDisplay-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/SF_Pro/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kharkiv';
  src: url('/assets/fonts/Kharkiv_Tone/KharkivTone-Regular.woff2') format('woff2'),
  url('/assets/fonts/Kharkiv_Tone/KharkivTone-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
