$media1: 'max-width: 1500px';
$media2: 'max-width: 1400px';
$media3: 'max-width: 1280px';
$media4: 'max-width: 1151px';
$media5: 'max-width: 992px';
$media6: 'max-width: 768px';
$media7: 'max-width: 640px';
$media8: 'max-width: 420px';
$media8: 'max-width: 320px';

$c-main: #fadf82;
$c-additional: #716EFF;
$c-error: #E25858;
$c-success: #22B030;
$c-text-main: #e7e6e7;

$f-sf: SF_Pro, sans-serif;
$f-kh: Kharkiv, sans-serif;